<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello </h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>

</form>

<a th:href="@{/users/readExcels}">Read excel</a>

<div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">User name</span></b>
    &nbsp;
    <i><span sec:authentication="principal.authorities">Role </span></i>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/users/export/excel}">Export to Excel</a>
</div>
</body>
</html>